<footer class="page-footer center-on-small-only">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Projeto desenvolvido durante o Fullstack Academy -
            <a href="https://www.devpleno.com">DevPleno</a>
        </div>
    </div>
</footer>